.presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.presentation_img {
    overflow: hidden;
    height: 280px;
    width: 100%;
}

.presentation_img img {
    object-fit: cover;
    width: 110%;
    height: 300px;
    transform: rotate(-3deg) translateY(-3rem) translateX(-2rem);
}

.presentation_card {
    width: 60%;
    position: fixed;
    margin-top: 6rem;
    background-color: #282c34;
    color: white;
    flex-direction: column;
}